position,category_name,menu_item_name,tag_name
1,◎菓子パン,アーモンドクリームロール,アーモンド
1,◎菓子パン,いちごクリーム(自家製いちごジャム使用),いちご
1,◎菓子パン,オレンジアーモンドクリーム,"アーモンド,オレンジ"
1,◎菓子パン,オレンジクリーム,オレンジ
1,◎菓子パン,オレンジとチョコの白ぱん,"白ぱん,オレンジ,チョコ"
2,[おかずパン],ドライカレーぱん,""
2,[おかずパン],カレーじゃがいもベーコン,""
2,[おかずパン],ホワイトソースのピザ,""
2,[おかずパン],ツナとコーンのピザ,""
