@import "bootstrap"

.container-fluid
  margin-top: 60px

.category-name
  &:hover
    cursor: pointer

#edit-pane
  position: fixed

#categories-pane
  margin-left: 290px

.well
  .label
    font-size: 14pt
    padding: 7px
    display: inline-table
    margin: 7px 5px
    &:hover
      cursor: pointer
  .tag1
    font-size: 9pt
    padding: 5px
  .tag2
    font-size: 12pt
    padding: 6px
  .tag3
    font-size: 16pt
    padding: 8px
  .tag4
    font-size: 20pt
    padding: 10px

#menu-text
  width: 250px
  height: 600px

h3
  a
    color: inherit
    text-decoration: none
    cursor: default
    &:hover
      color: inherit
      text-decoration: none
      cursor: default
