.row
  .span9
    %h2 Categories

    #categories
      - @categories.each do |category|
        %h3.category-name= category.name
        .menu-items.well
          - MenuItem.tagged_with(category.name, on: :categories).each do |menu_item|
            %span.menu-item.label.label-warning= menu_item.name
  .span3
    = content_tag :textarea, '', id: 'menu-text'
